@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-w18ai1");
  src: url("../fonts/icomoon.eot?#iefix-w18ai1") format("embedded-opentype"), url("../fonts/icomoon.woff?-w18ai1") format("woff"), url("../fonts/icomoon.ttf?-w18ai1") format("truetype"), url("../fonts/icomoon.svg?-w18ai1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
}
.container::after {
  content: " ";
  display: block;
  clear: both;
}

html {
  font-size: 1em;
  background: #293237;
}

body {
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1.6;
  color: #999a9b;
  padding: 1.4em;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 6.854em;
}

h2 {
  font-size: 4.236em;
}

h3 {
  font-size: 2.618em;
}
@media (min-width: 18.75em) and (max-width: 37.4em) {
  h3 {
    font-size: 1.618em;
  }
}

h4 {
  font-size: 1.618em;
}

small, .font_small {
  font-size: 0.618em;
}

a {
  color: #999a9b;
}
a:hover {
  color: #007bbb;
}

a.active {
  color: #007bbb;
}

.container {
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
}
.container::after {
  content: " ";
  display: block;
  clear: both;
}

header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
}
header a {
  text-decoration: none;
}
header a:hover {
  text-decoration: none;
}
header nav {
  border-top-style: solid;
  border-width: thin;
  border-top-color: #999a9b;
}
header nav ul {
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
header nav li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  display: inline;
}
header nav li:nth-child(1) {
  padding-left: 0;
}
header nav a {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  text-decoration: none;
}
header nav a:hover {
  text-decoration: none;
}

.info p {
  font-style: italic;
  font-weight: 400;
  font-size: 90%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (min-width: 18.75em) and (max-width: 37.4em) {
  .info p {
    display: none;
  }
}
@media (min-width: 37.4em) {
  .info p:nth-child(1) {
    padding-left: 0;
  }
}

main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
}

.main_home {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
}
.main_home p {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 4.236em;
  margin-top: 0.3em;
}
@media (min-width: 18.75em) and (max-width: 37.4em) {
  .main_home p {
    font-size: 2.618em;
  }
}
.main_home .title {
  color: #007bbb;
}

footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
}
@media (min-width: 18.75em) and (max-width: 37.4em) {
  footer {
    border-top-style: solid;
    border-width: thin;
    border-top-color: #999a9b;
  }
}
footer section h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}
footer section ul {
  padding: 0;
  list-style: none;
  font-size: 90%;
}
footer section p {
  font-size: 90%;
}
@media (min-width: 18.75em) and (max-width: 37.4em) {
  footer section:nth-child(1) {
    padding-bottom: 0.9em;
  }
}
@media (min-width: 37.4em) {
  footer section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    border-top-style: solid;
    border-width: thin;
    border-top-color: #999a9b;
  }
  footer section:nth-child(1) {
    padding-left: 0;
  }
}
footer div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
}

[class^="add-social"], [class*=" add-social"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #999a9b;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="add-social"]:hover {
  color: #007bbb;
}

.social {
  font-family: "Lora", serif;
}

.add-social-mail:before {
  content: "\e609";
}
.add-social-mail:hover {
  color: #007bbb;
}

.add-social-github:before {
  content: "\e606";
}
.add-social-github:hover {
  color: #007bbb;
}

.add-social-fb:before {
  content: "\e60b";
}

.add-social-twitter:before {
  content: "\e60c";
}

.add-social-linkedin:before {
  content: "\e604";
}
.add-social-linkedin:hover {
  color: #007bbb;
}

article {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-top: 2em;
  padding-left: 0;
}

.page_title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
}
@media (min-width: 18.75em) and (max-width: 37.4em) {
  .page_title {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
.page_title h3 {
  margin-top: 0;
}
.page_title h3 a {
  text-decoration: none;
}

.page_content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-bottom: 4.5em;
  padding-left: 0;
}
@media (min-width: 18.75em) and (max-width: 37.4em) {
  .page_content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
.page_content p {
  font-family: "Lora", serif;
  font-size: 1em;
  font-weight: 400;
}
.page_content h3 {
  margin-top: 0;
}
.page_content h3 a {
  text-decoration: none;
}
.page_content a {
  text-decoration: none;
}

.blog {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
}
.blog a {
  text-decoration: none;
}

.blog_title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
}
.blog_title h3 {
  margin-top: 35px;
}
.blog_title a {
  text-decoration: none;
}
