@import "susy";
@import "compass";
@import "breakpoint";


font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-w18ai1');
	src:url('../fonts/icomoon.eot?#iefix-w18ai1') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-w18ai1') format('woff'),
		url('../fonts/icomoon.ttf?-w18ai1') format('truetype'),
		url('../fonts/icomoon.svg?-w18ai1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Colors
$Colour-One:#293237;
$Colour-Two:#999a9b;
$Colour-three: #007BBB;


// Font Stacks
$primary_Font: 'Lora', serif;
$secondary_Font: 'Open Sans', sans-serif;


// Breakpoints
$large_screen:37.4em;
$small_screen: 18.75em;


// Sizing
$font-base: 100%;
$font-xlarge-screens: 125%;
$spacing: 1.5625em;
$container-max: 80em;
$container-width: 88%;


// Container
.container{
	@include container(65em);
}

//grid
$susy: (
    columns: 12, 
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: inside,
    );

@import "modules/mixins"